@import 'vars'
@import 'mixin'

.header-banner 
    background-color: $colorF1E4E6
    .container
         display: flex
    .container h1
        position: absolute
        margin-top: 290px
        margin-left: 864px
        border-left: 12px solid $colorF16D7F
        padding-left: 16px
        font-family: $font-familyLato
        color: $color222222
        span
            color: $colorF16D7F
            font-family: $font-familyLato
        b
            font-weight: 900
            font-size: 48px
            line-height: 57.6px