@import 'vars'
@import 'mixin'

.footer__benefits 
    background: #222224
    height: 341px
    .container
        display: flex
        justify-content: space-between
        padding: 0 230px 0 230px
        .benefits__article
            width: 360px
            height: 134px
            margin-top: 103px
            text-align: center

.footer__benefits 
    .container 
        .benefits__article:nth-child(1) .benefits__img 
            margin-bottom: 28px
        .benefits__article:nth-child(2) .benefits__img
            margin-bottom: 19px
        .benefits__article:nth-child(3) .benefits__img
            margin-bottom: 25px
        .benefits__article
            .benefits__heding
                margin-bottom: 16px
                @include txtFormat($font-familyLato, $font-styleNormal, $font-weight400, $font-size20, $line-height24, $colorFBFBFB)
            .benefits__content
                @include txtFormat($font-familyLato, $font-styleNormal, $font-weight300, $font-size14, $line-height17, $colorFBFBFB)
                text-align: center

.footer__contactUs
    position: relative
    margin: auto
    width: 1598px
    height: 448px
    background-image: url(../../img/bg-footer/bg-footer.png)
    .contactUs__filtr 
        content: ''
        position: absolute
        left: 0%
        right: 0%
        top: 0%
        bottom: 0%
        background: rgba(244, 244, 244, 0.7)
    .contactUs__appeal
        position: absolute
        width: 360px
        height: 225px
        left: 228px
        top: 97px
        text-align: center
        .appeal__img
            margin-bottom: 30px
        p
            @include txtFormat($font-familyLato, $font-styleNormal, $font-weight400, $font-size20, $line-height24, $color222224)
    form
        position: absolute
        width: 557px
        height: 142px
        left: 811px
        top: 150px
        text-align: center
        h2
            @include txtFormat($font-familyLato, $font-styleNormal, $font-weight700, $font-size24, $line-height40, $color222224)
        p
            @include txtFormat($font-familyLato, $font-styleNormal, $font-weight400, $font-size18, $line-height30, $color222224)
            margin-bottom: 32px
        input
            border: 1px solid transparent
            outline: none
            width: 256px
            height: 49px
            padding-left: 22px
            @include txtFormat($font-familyLato, $font-styleNormal, $font-weight400, $font-size14, $line-height30, $color222224)
            border-radius: 25px 0 0 25px
            background-color: #E1E1E1
            left: 104px
            position: absolute
        button
            @include txtFormat($font-familyLato, $font-styleNormal, $font-weight400, $font-size14, $line-height17, $color222224)
            background-color: transparent
            width: 100px
            height: 49px
            border: 1px solid #FF6A6A
            position: absolute
            left: 360px
            border-radius: 0 25px 25px 0
        button:hover
            color: #FFFFFF
            background-color: #F16D7F

.footer-footer
    height: 79px
    background: #222224
    .container
        display: flex
        justify-content: space-between
        align-items: center
        p
            @include txtFormat($font-familyLato, $font-styleNormal, $font-weight400, $font-size16, $line-height17, $colorFBFBFB)
            margin-left: 235px

.soc 
    width: 147px
    height: 32px
    margin-right: 230px
    margin-top: 24px
    display: flex
    justify-content: space-between

.soc-box 
    width: 32px
    height: 32px
    background-color: #fff
    text-decoration: none
    display: flex

.fa-brands 
    font-size: 16px
    align-items: center
    text-align: center
    color: #000000
    margin: auto

.soc-box:hover  
    background-color: #F16D7F
    .fa-brands
        color: #fff