@import 'vars'
@import 'mixin'

.container 
    margin: 0 auto
    width: 1600px

.header-menu .container 
    display: flex
    justify-content: space-between
    align-items: center

.leftSection a:first-child 
    margin-left: 231px
    margin-right: 41px

.rightSection 
    position: relative
    > a
        margin-right: 33px
        text-decoration: none
    a
        text-decoration: none
    .rightSection-cart
        position: relative
    .rightSection-cart:after
        content: '5'
        padding-left: 6.6px
        padding-bottom: 6px
        bottom: 15px
        left: 25px
        border-radius: 50%
        position: absolute
        text-decoration: none
        width: 19px
        height: 19px
        @include txtFormat($font-familyLato, $font-styleNormal, $font-weight400, $font-size19, $line-height24, $colorffffff)
        background-color: $colorF16D7F
    .rightSection-cart
        margin-right: 240px
        
/* Menu */

.mega-box 
    background-color: $colorffffff
    padding: 34px
    box-shadow: 0px 1px 10px 0px
    position: absolute
    z-index: 1
    display: none
    .mega-heading
        @include txtFormat($font-familyLato, $font-styleNormal, $font-weight700, $font-size14, $line-height17, $color000000)
        width: 232px
        margin-bottom: 24px
    .mega-heading-man
        @include txtFormat($font-familyLato, $font-styleNormal, $font-weight400, $font-size14, $line-height17, $colorF16D7F)
        margin-bottom: 12px
    .mega-item-man
        @include txtFormat($font-familyLato, $font-styleNormal, $font-weight400, $font-size14, $line-height17, $color6F6E6E)
        display: block
        margin-bottom: 11px
        margin-left: 20px
    .mega-item-man:hover
        color: $colorF16D7F
    .mega-heading-women
        @include txtFormat($font-familyLato, $font-styleNormal, $font-weight400, $font-size14, $line-height17, $colorF16D7F)
        margin-bottom: 12px
    .mega-item-women
        @include txtFormat($font-familyLato, $font-styleNormal, $font-weight400, $font-size14, $line-height17, $color6F6E6E)
        display: block
        margin-bottom: 11px
        margin-left: 20px
    .mega-heading-kids
        @include txtFormat($font-familyLato, $font-styleNormal, $font-weight400, $font-size14, $line-height17, $colorF16D7F)
        margin-bottom: 12px
    .mega-item-kids
        @include txtFormat($font-familyLato, $font-styleNormal, $font-weight400, $font-size14, $line-height17, $color6F6E6E)
        display: block
        margin-bottom: 11px
        margin-left: 20px
    .mega-item-kids:hover
        color: $colorF16D7F

.box-bars
    float: left

.box-bars:hover .mega-box 
    display: block

.rightSection-bars .box-bars:hover 
    color: $colorF16D7F

.item-women .mega-heading-women 
    margin-top: 20px

.item-kids .mega-heading-kids 
    margin-top: 20px

.fa-solid 
    font-size: 30px
    color: $colorE8E8E8

.fa-solid:hover 
    color: $colorF16D7F

.header-menu 
    background-color: $color222222
    height: 75px
    margin: auto
    display: flex