@import 'vars'
@import 'mixin'
    
.pagination
    margin: 0 auto
    display: flex
    justify-content: center
    margin-top: 48.5px
    margin-bottom: 91.5px
    .containerPagination
        display: flex
        align-items: center
        justify-content: center
        width: 284px
        height: 44px
        border: 1px solid $colorEBEBEB
        .point
            width: 18px
            @include txtFormat($font-familyLato, $font-styleNormal, $font-weight300, $font-size16, $line-height19, $colorC4C4C4)
        a
            text-decoration: none 
            .pageCatalog
                display: flex
                justify-content: center
                align-items: center
                width: 30px
                height: 44px
                @include txtFormat($font-familyLato, $font-styleNormal, $font-weight300, $font-size16, $line-height19, $colorC4C4C4)
                .fa-solid
                    line-height: 10px
            .pageCatalog:hover
                color: $colorC4C4C4
                background-color: $colorEF5B70