$font-familyLato: 'Lato', sans-serif

$font-styleNormal: normal

$font-weight700: 700
$font-weight400: 400
$font-weight300: 300

$font-size14: 13.972px
$font-size16: 16px
$font-size18: 18px
$font-size20: 19.96px
$font-size24: 24px

$line-height17: 17px
$line-height24: 24px
$line-height30: 30.1px
$line-height40: 40px
$line-height70: 70px

$colorFBFBFB: #FBFBFB
$colorF1E4E6: #F1E4E6
$colorE8E8E8: #E8E8E8
$color222224: #222224
$color222222: #222222
$colorF16D7F: #F16D7F