*
    margin: 0px
    padding: 0px
    box-sizing: border-box

/* Хедер */
@import 'header'

/* Секция навигации под хедером с крошками */
@import 'navUnderHeader'

/*Секция с menuFiltr*/
@import '_menuFilter&akordion'

/* ProductBoard */
@import 'sectionContent-productBoard'

@import 'paginationStyle'
            
/* Footer */
@import 'footer'