@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Хедер */
.container {
  margin: 0 auto;
  width: 1600px;
}

.header-menu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftSection a:first-child {
  margin-left: 231px;
  margin-right: 41px;
}

.rightSection {
  position: relative;
}
.rightSection > a {
  margin-right: 33px;
  text-decoration: none;
}
.rightSection a {
  text-decoration: none;
}
.rightSection .rightSection-cart {
  position: relative;
}
.rightSection .rightSection-cart:after {
  content: "5";
  padding-left: 6.6px;
  padding-bottom: 6px;
  bottom: 15px;
  left: 25px;
  border-radius: 50%;
  position: absolute;
  text-decoration: none;
  width: 19px;
  height: 19px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  background-color: #F16D7F;
}
.rightSection .rightSection-cart {
  margin-right: 240px;
}

/* Menu */
.mega-box {
  background-color: #ffffff;
  padding: 34px;
  box-shadow: 0px 1px 10px 0px;
  position: absolute;
  z-index: 1;
  display: none;
}
.mega-box .mega-heading {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  width: 232px;
  margin-bottom: 24px;
}
.mega-box .mega-heading-man {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
}
.mega-box .mega-item-man {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  display: block;
  margin-bottom: 11px;
  margin-left: 20px;
}
.mega-box .mega-item-man:hover {
  color: #F16D7F;
}
.mega-box .mega-heading-women {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
}
.mega-box .mega-item-women {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  display: block;
  margin-bottom: 11px;
  margin-left: 20px;
}
.mega-box .mega-heading-kids {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
}
.mega-box .mega-item-kids {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  display: block;
  margin-bottom: 11px;
  margin-left: 20px;
}
.mega-box .mega-item-kids:hover {
  color: #F16D7F;
}

.box-bars {
  float: left;
}

.box-bars:hover .mega-box {
  display: block;
}

.rightSection-bars .box-bars:hover {
  color: #F16D7F;
}

.item-women .mega-heading-women {
  margin-top: 20px;
}

.item-kids .mega-heading-kids {
  margin-top: 20px;
}

.fa-solid {
  font-size: 30px;
  color: #E8E8E8;
}

.fa-solid:hover {
  color: #F16D7F;
}

.header-menu {
  background-color: #222222;
  height: 75px;
  margin: auto;
  display: flex;
}

/* Секция навигации под хедером с крошками */
.lowerSectionNav {
  background: #F8F3F4;
  height: 148px;
}
.lowerSectionNav .container {
  display: flex;
  justify-content: space-between;
}
.lowerSectionNav .container h2 {
  margin-left: 230px;
  margin-top: 59px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}
.lowerSectionNav .container .breadCrumbs {
  margin-right: 230px;
  margin-top: 65px;
}
.lowerSectionNav .container .breadCrumbs span {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.lowerSectionNav .container .breadCrumbs span b {
  color: #F16D7F;
}
.lowerSectionNav .container .breadCrumbs span a {
  text-decoration: none;
  color: #636363;
}
.lowerSectionNav .container .breadCrumbs span a:hover {
  color: #F16D7F;
}

/*Секция с menuFiltr*/
.catalogNav {
  background-color: #ffffff;
  margin: 0 auto;
  width: 1140px;
}
.catalogNav .container {
  margin-top: 51px;
}
.catalogNav .container form {
  display: flex;
}
.catalogNav .container form .menuFilter:hover .ariseMenu {
  display: block;
}
.catalogNav .container form .menuFilter {
  margin-left: 16px;
  cursor: pointer;
  position: relative;
  margin-bottom: 64px;
}
.catalogNav .container form .menuFilter .ariseMenu {
  position: absolute;
  z-index: 1;
  top: -13px;
  left: -16px;
  background: #ffffff;
  display: none;
}
.catalogNav .container form .menuFilter .ariseMenu .ariseMenuHead-box {
  margin-top: 13px;
  margin-left: 16px;
}
.catalogNav .container form .menuFilter .ariseMenu .ariseMenuBody-box summary {
  width: 327px;
  list-style-type: none;
  display: flex;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  color: #EF5B70;
  border-left: 5px solid #EF5B70;
  padding-left: 11px;
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 11.5px;
  padding-top: 11.5px;
  margin: 12.5px 5.5px 24.5px 17px;
}
.catalogNav .container form .menuFilter .ariseMenu a {
  text-decoration: none;
  display: block;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-left: 34px;
  margin-bottom: 11px;
}
.catalogNav .container form .menuFilter .ariseMenu a:hover {
  color: #F16D7F;
  transition-duration: 1s;
}
.catalogNav .container form .menuFilter span {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.catalogNav .container form .chekParametr {
  margin-left: 304px;
  display: flex;
  position: relative;
}
.catalogNav .container form .chekParametr .contentProduct-box {
  position: absolute;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: 2px 2px 7px 0px;
}
.catalogNav .container form .chekParametr details {
  position: relative;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-right: 29px;
  display: flex;
}
.catalogNav .container form .chekParametr details summary {
  display: block;
}
.catalogNav .container form .chekParametr details summary::-webkit-details-marker {
  display: none;
}
.catalogNav .container form .chekParametr details summary::after {
  content: "˅";
  padding-left: 0.5em;
}
.catalogNav .container form .chekParametr details .wrapper {
  display: flex;
  padding: 3.5px 9.5px 3.5px 9.5px;
}
.catalogNav .container form .chekParametr details .wrapper .amount {
  width: 50px;
  padding-right: 5px;
  padding-left: 5px;
}
.catalogNav .container form .chekParametr details .wrapper input {
  margin-right: 10px;
}
.catalogNav .container form .chekParametr details[open] > summary::after {
  content: "˄";
  padding-left: 0.5em;
}
.catalogNav .container form .chekParametr details[open] > summary::after span {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

/* ProductBoard */
.productBoard {
  background-color: #ffffff;
  margin: 0 auto;
  width: 1140px;
}
.productBoard h2 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
  margin-bottom: 6px;
}

.productBoard-text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
  margin-bottom: 48px;
}

.productBoard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}
.productBoard-container figure {
  position: relative;
}
.productBoard-container figure:hover .pic {
  transform: scale(1.1);
  filter: brightness(30%);
}
.productBoard-container figure:hover .box {
  filter: brightness(30%);
}

/* уведичение картинки пр наведении */
.container-product .pic {
  transition: 0.5s;
  display: block;
}
.container-product .picther-box {
  display: inline-block;
  overflow: hidden;
}

/* появление кнопки добавить в карзину */
.productBoard-container figure .add:hover {
  box-shadow: 0px 0px 10px 0px #fff;
}
.productBoard-container figure:hover .add-box {
  display: flex;
}
.productBoard-container figure:nth-child(-n+6) {
  margin-bottom: 30px;
}
.productBoard-container .container-product {
  width: 360px;
  background-color: #F8F8F8;
  padding-bottom: 20px;
}

.box {
  background-color: #F7E4E2;
  width: 360px;
  height: 420px;
}
.box img {
  margin-left: 108px;
  margin-top: 9px;
}

.productBoard-container a {
  text-decoration: none;
  display: block;
}

.container-product a {
  text-decoration: none;
}
.container-product h2 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-top: 25.35px;
  text-align: start;
  margin-left: 18px;
  text-decoration: none;
}
.container-product p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  line-height: 17px;
  text-align: start;
  margin-left: 16px;
  margin-top: 13px;
  margin-bottom: 18px;
}
.container-product span {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-left: 18px;
}

.productBoard-container figure:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0);
}

.productBoard button {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  margin: 19px auto 96px auto;
  display: block;
  border: 1px solid #FF6A6A;
  padding: 15px 39px 15px 39px;
  background: #ffffff;
}
.productBoard button:hover {
  background-color: #F16D7F;
  color: #ffffff;
}

/* кнопка добавить в карзину на картачке с товара   */
.productBoard-container figure .add {
  display: flex;
  padding: 8px;
  border: 1px solid white;
  align-items: center;
  text-decoration: none;
  pointer-events: all;
}
.productBoard-container figure .add .add-desc {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin-left: 11px;
}

.add-box {
  display: none;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 188px;
  pointer-events: none;
}

.pagination {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 48.5px;
  margin-bottom: 91.5px;
}
.pagination .containerPagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 284px;
  height: 44px;
  border: 1px solid #EBEBEB;
}
.pagination .containerPagination .point {
  width: 18px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
}
.pagination .containerPagination a {
  text-decoration: none;
}
.pagination .containerPagination a .pageCatalog {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 44px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
}
.pagination .containerPagination a .pageCatalog .fa-solid {
  line-height: 10px;
}
.pagination .containerPagination a .pageCatalog:hover {
  color: #C4C4C4;
  background-color: #EF5B70;
}

/* Footer */
.footer__benefits {
  background: #222224;
  height: 341px;
}
.footer__benefits .container {
  display: flex;
  justify-content: space-between;
  padding: 0 230px 0 230px;
}
.footer__benefits .container .benefits__article {
  width: 360px;
  height: 134px;
  margin-top: 103px;
  text-align: center;
}

.footer__benefits .container .benefits__article:nth-child(1) .benefits__img {
  margin-bottom: 28px;
}
.footer__benefits .container .benefits__article:nth-child(2) .benefits__img {
  margin-bottom: 19px;
}
.footer__benefits .container .benefits__article:nth-child(3) .benefits__img {
  margin-bottom: 25px;
}
.footer__benefits .container .benefits__article .benefits__heding {
  margin-bottom: 16px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
}
.footer__benefits .container .benefits__article .benefits__content {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #FBFBFB;
  text-align: center;
}

.footer__contactUs {
  position: relative;
  margin: auto;
  width: 1598px;
  height: 448px;
  background-image: url(../../img/bg-footer/bg-footer.png);
}
.footer__contactUs .contactUs__filtr {
  content: "";
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: rgba(244, 244, 244, 0.7);
}
.footer__contactUs .contactUs__appeal {
  position: absolute;
  width: 360px;
  height: 225px;
  left: 228px;
  top: 97px;
  text-align: center;
}
.footer__contactUs .contactUs__appeal .appeal__img {
  margin-bottom: 30px;
}
.footer__contactUs .contactUs__appeal p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #222224;
}
.footer__contactUs form {
  position: absolute;
  width: 557px;
  height: 142px;
  left: 811px;
  top: 150px;
  text-align: center;
}
.footer__contactUs form h2 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #222224;
}
.footer__contactUs form p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #222224;
  margin-bottom: 32px;
}
.footer__contactUs form input {
  border: 1px solid transparent;
  outline: none;
  width: 256px;
  height: 49px;
  padding-left: 22px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #222224;
  border-radius: 25px 0 0 25px;
  background-color: #E1E1E1;
  left: 104px;
  position: absolute;
}
.footer__contactUs form button {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  background-color: transparent;
  width: 100px;
  height: 49px;
  border: 1px solid #FF6A6A;
  position: absolute;
  left: 360px;
  border-radius: 0 25px 25px 0;
}
.footer__contactUs form button:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
}

.footer-footer {
  height: 79px;
  background: #222224;
}
.footer-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-footer .container p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #FBFBFB;
  margin-left: 235px;
}

.soc {
  width: 147px;
  height: 32px;
  margin-right: 230px;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.soc-box {
  width: 32px;
  height: 32px;
  background-color: #fff;
  text-decoration: none;
  display: flex;
}

.fa-brands {
  font-size: 16px;
  align-items: center;
  text-align: center;
  color: #000000;
  margin: auto;
}

.soc-box:hover {
  background-color: #F16D7F;
}
.soc-box:hover .fa-brands {
  color: #fff;
}/*# sourceMappingURL=catalogPageStyle.css.map */