*
    margin: 0px
    padding: 0px
    box-sizing: border-box

/* Хедер */
@import 'header'

/* Секция навигации под хедером с крошками */
@import 'navUnderHeader'

/*Секция с menuFiltr*/
.catalogNav
    background-color: #ffffff
    margin: 0 auto
    width: 1140px
    .container
        form
            display: flex
            .menuFilter
                




/* ProductBoard */
@import 'sectionContent-productBoard'

@import 'paginationStyle'
            
/* Footer */
@import 'footer'