*
    margin: 0px
    padding: 0px
    box-sizing: border-box

/* Хедер */
@import 'header'
@import 'bannerOnHeader'

/* Блок Навигации в секции контента */
@import 'sectionContent-nav'

/* ProductBoard */
@import 'sectionContent-productBoard'

/* Footer */
@import 'footer'
